
@{
    ViewBag.Title = "UploadPic";
}

<h2>UploadPic</h2>

@using (Html.BeginForm("UploadPic", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" value="OK" />
}