@model IEnumerable<projectMoo.Models.ViewModels.SubmissionsForTeacherViewModel>


<div class="coursetable">
    <table class="table table-hover courses">
        <thead>
            <tr>
                <th>User Name</th>
                <th>State</th>
                <th>File</th>
                <th>Submission date</th>
            </tr>
        </thead>
        @foreach (var submission in Model)
        {
            <tr class="cursor-change">
                <td class="lead">@submission.UserName</td>
                <td>@submission.Status</td>
                <td><a href="http://localhost:1773/Assignments/Download?file=@submission.FileName" target="_blank">Download File</a></td>
                <td><span class="badge">@submission.Date.ToShortDateString()</span></td>
            </tr>


        }
    </table>
</div>