@model projectMoo.Models.ViewModels.ResultViewModel

<h1>Submitted</h1>

<div class="row">
    <div class="col-sm-4">
        <h3>Input</h3>
        @foreach (var input in Model.Input)
        {
            <p>@input</p>
        }
    </div>
    <div class="col-sm-4">
        <h3>Output</h3>
        @foreach (var output in Model.Output)
        {
            <p>@output</p>
        }
    </div>
    <div class="col-sm-4">
        <h3>Expected Output</h3>
        @foreach (var expected in Model.ExpectedOutput)
        {
            <p>@expected</p>
        }
    </div>
</div>