@model projectMoo.Models.Entities.Success

@{
    ViewBag.Title = "Success";
}


<div class="col-md-4">
    <div class="success">
        <h2>@Model.Title</h2>
        <h4>@Model.Description </h4>
        @Html.ActionLink(Model.ActionTitle, Model.ActionPath, null, new { @class = "btn btn-primary" })
    </div>
 </div>