body {
    padding-top: 50px;
    padding-bottom: 20px;
}



/* Set padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 15px;
    margin-top: 10px;
    padding-right: 15px;
    background:url('http://us-kick9.s3.amazonaws.com/soulhunters/homepic/63523cc4bcc4d53cb28a4ba6ab2e2e30.jpg') center center no-repeat;
    min-height:100%;
	background-size:cover;
    background: url(../Images/code-wallpaper-4.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    */
}

html { 
  background: url(images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.form-horizontal{

    background-color:white;
    margin-top: 40px;
    padding: 10px;
    border:0.25px solid;
    border-color: cornflowerblue;
    border-radius: 4px;
   
}

.Assinment{

    background-color:white;
    margin: 10px;
    padding: 10px;
    border:0.5px solid;
    border-color: cornflowerblue;
    border-radius: 4px;
}

.Milestone{

    background-color:white;
    margin: 10px;
    padding: 10px;
    border:0.15px solid;
    border-color: lightgray;
    border-radius: 4px;
   
}


#login-btn, #register-btn{

    background-color:cornflowerblue;
    width: 100%;
    height:50px;
    font-size:20px;
    color:white;
}

#orId{
    text-align:left;
    font-size:16px;
    margin-top:20px;
}

.navbar-inverse { 
    background-color:white;

}

.navbar-brand { color: cornflowerblue; }
.navbar-brand:visited { color: cornflowerblue; }
.navbar-brand:hover { color: cornflowerblue; }
.navbar-brand-color { color: cornflowerblue; }


.navbar-default {
  background-color:teal;
  background-image: none;
  background-repeat: no-repeat;
 }

/* Navigation Links */

a#nav-li {
    margin: 5px;
}

a#nav-li:link {
    color: black;
}

a#nav-li:visited {
    color: black;
}

a#nav-li:hover {
    color: #f5f5f5;
}

a#nav-li:active {
    color: #f5f5f5;
}

/* Logo */
/*
#logo-nav:link {
    color: cornflowerblue;
}

#logo-nav:visited {
    color: cornflowerblue;
}

#logo-nav:hover {
    color: cornflowerblue;
}

#logo-nav:active {
    color: cornflowerblue;
}
*/
/* Login Links */

a#loginLink {
    margin: 5px;
}

#loginLink:link {
    color: black;
}

#loginLink:visited {
    color: black;
}

#loginLink:hover {
    color: cornflowerblue;
}

#loginLink:active {
    color: cornflowerblue;
}

/* Navigation bar */

#main-nav {
    border-color: cornflowerblue;
    height: 60px;
}

/* Logo */

img#logo-nav {
    width: 50px;
    height: 50px;
    text-indent: -9999px; /* hides the link text */
    display: block;
    margin: 5px;
}

img#profile-picture {
    margin-left: 80px;
}

#topright {
    float: right;
    padding-top: 25px;
}

#assignment-vertical-nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 54%;
    background-color: #f1f1f1;
}

.list-group-item:hover {
    background-color: #f1f1f1;
}



#dropdown {
    color: pink;
}

.hidden1{
    display: none;
}

.center{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.button-top{
    margin-top: 20px;
}

input, select, textarea {
    max-width: 500px;
}

textarea#Description {
    width: 500px;
    height: 500px;
    max-height: 500px;
}

.settings-buttons{
    margin-top: 10px;
}

#footer{
    width: 92%;
    position:fixed;
    bottom:0;
}

.btn-file {
    position: relative;
    overflow: hidden;
    color: #428bca;
    border-color: #428bca;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

li#profile-list:hover {
    background-color: white;
}

.coursetable {
    margin-top: 10px;
}
.center-text{
    text-align:center;
    color: cornflowerblue;
}
.pull-element-right{
    float:right;
    position:relative;
}
