@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="col-md-6 form-horizontal delete">
<div class="row">
    <div class="col-sm-4"><img id="error-picture" title="profile image" class="img-circle img-responsive" src="~/Images/Profile/cow.jpg"></div>
</div>
<h2 class="text-danger center-text-delete">Whoops. Something went wrong :(</h2>
<h4 class="text-danger center-text-delete">An error occurred while processing your request.</h4>
<p>Error: @Model.Exception.Message</p>
</div>

