@model IEnumerable<projectMoo.Models.ViewModels.CourseViewModel>

@{
    ViewBag.Title = "Courses";
}

<h2>Courses</h2>

<div class="row">

    
         <table class="table table-hover">        
                 @foreach (var course in Model)
                 {
                 <tr onclick="location.href = '@(Url.Action("CourseAssignments", "Assignments", new { ID = course.CourseID }))'">
                     <td class="lead">@course.Title</td>
                     <td>@course.Description</td>
                 </tr>
                 }
         </table>
       
        
</div>
